<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <div class="row row-cols-3">
            <div class="col" style="padding: 20px;" *ngFor="let post of postDetails; let i = index">
                <div class="row">
                    <img style="max-width: 100%" [src]="post.postImages[0].url" alt=""
                        (click)="showPostDetails(post.postId)">
                    <div class="mt-3">
                        <h2>{{ post.postTitle }}</h2>
                    </div>
                    <div class="mt-2">
                        <h6>Posted by {{ post.postAuthor }} at {{ post.createdAt }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>