<div class="container mt-5">
    <form class="d-flex" role="search">
        <input class="form-control me-2 rounded-0" type="search" name="searchKey" id="searchKey" placeholder="Search"
            #searchkeyword (keyup)="searchByKeyword(searchkeyword.value)">
        <button class="btn btn-success rounded-0" type="submit">Search</button>
    </form>
</div>

<div class="container mt-5">
    <div class="card" style="padding: 20px;">

        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Author</th>
                    <th scope="col">Title</th>
                    <th scope="col">Content</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Updated At</th>
                    <th scope="col">Images</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of postDetails | slice: (page-1) * pageSize : page * pageSize let i = index">
                    <td>{{post.postId}}</td>
                    <td>{{post.postAuthor}}</td>
                    <td>{{post.postTitle}}</td>
                    <td>{{post.postContent}}</td>
                    <td>{{post.createdAt | dateAsAgo }}</td>
                    <td>{{post.updatedAt | dateAsAgo }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-success rounded-0" data-bs-toggle="modal"
                            data-bs-target="#imagesModal">Images</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-primary rounded-0" style="margin-right: 4%;"
                            (click)="editPost(post.postId)">Edit</button>
                        <button type="button" class="btn btn-outline-danger rounded-0" style="margin-right: 4%;"
                            (click)="deletePost(post.postId)">Delete</button>
                    </td>
                </tr>
                <tr>
            </tbody>
        </table>

        <div *ngFor="let post of postDetails; let i = index" class="modal fade" id="imagesModal" tabindex="-1"
            aria-labelledby="imagesModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="imagesModalLabel">Post Images</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img class="card" [src]="post.postImages[0].url" alt=""
                            style="width:30%;height:30%;padding: 2%;">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container mt-5 justify-content-center">
    <ngb-pagination [(page)]="page" [pageSize]="9" [collectionSize]="postDetails.length">
        <ng-template ngbPaginationPrevious>Previous</ng-template>
        <ng-template ngbPaginationNext>Next</ng-template>
    </ngb-pagination>
</div>
<app-footer></app-footer>